.allCards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form, input {
    text-align: center;
}

h2 {
    text-align: center;
    color: rgb(30, 30, 194);
}
h3 {
    color: rgb(65, 132, 202);
}
.whiteDiv{
    height: 50px
}



.MainForm {
    position: relative;
    width: 100%;
  }
  
  .MainForm img {
    width: 100%;
    /* height: auto; */
  }
  
  .MainForm .Mainbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
